<form action="/search" method=get>
    <div class="form-group">
        <div class="input-group col-lg-8 offset-lg-2">
            <input type="text" class="form-control" placeholder="Book Title..." name="title">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Search</button>
            </span>
        </div>
    </div>
</form>
