<!DOCTYPE html>
<html lang="en">


<%- include ./general/header %>
    <%- include ./general/navbarIndex %>

        <body>
            <div class="container text-center" style="margin-bottom:100px">


                <div class="text-center reg_msg">
                    <h2 style="color:#808080">
                        <span>SIGN UP</span>
                        <span>
                            <h3>
                                <%= signupError %>
                            </h3>
                        </span>
                    </h2>
                </div>
                <br>
                <div class="form-group">
                    <form action="/signup" method="post">

                        <input type="text" name="name" id="fullname" class="form-control" placeholder="enter name...">
                        <br>
                        <input type="text" name="email" id="email" class="form-control" placeholder="enter email...">
                        <br>
                        <input type="password" name="password" id="password" class="form-control" placeholder="enter password...">
                        <br>
                        <input type="submit" name="submit" id="sign_up" class="form-control btn btn-primary" value="SIGN UP">
                </div>

                </form>

            </div>
            </div>


            <%- include ./general/scripts %>
        </body>

</html>